<div class="min-h-screen px-[4vw] py-[5vh] bg-gray-900 text-white">
	<h1 class="text-main font-bold mb-[3vh] text-blue-500 text-center">
	  📺 Explore TV Shows
	</h1>

	<app-carousel 
	  title="🔥 Trending TV Shows" 
	  [items]="popularTvShows" 
	  itemType="tv">
	</app-carousel>

	<app-carousel 
	  title="🎭 Best TV Shows" 
	  [items]="topRatedTvShows" 
	  itemType="tv">
	</app-carousel>

	<app-carousel 
	  title="📡 On The Air TV Shows" 
	  [items]="onTheAirTvShows" 
	  itemType="tv">
	</app-carousel>
</div>
