<div class="min-h-screen px-[4vw] py-[5vh] bg-gray-900 text-white">
	<h1 class="text-main font-bold mb-[3vh] text-red-500 text-center">
	  🎉 Discover Popular Content
	</h1>
  
	<section class="mb-[5vh]">
	  <h2 class="text-section font-bold mb-[2vh] text-red-400">🎬 Trending Movies</h2>
	  <div class="relative">
		<button class="carousel-button left" (click)="scrollCarousel('movie', 'left')">⬅️</button>
		<div class="flex overflow-hidden space-x-[2vw] carousel-container">
		  <a *ngFor="let movie of popularMovies.slice(currentIndexMovie, currentIndexMovie + 5)" 
			 [routerLink]="['/movies', movie.id]" 
			 class="card cursor-pointer">
			<img [src]="getImageUrl(movie.poster_path)" alt="{{ movie.title }}" class="card-img">
			<div class="card-content">
			  <h3 class="truncate text-title">{{ movie.title }}</h3>
			  <p class="text-vote">Rating: {{ movie.vote_average | number:'1.1-1' }}</p>
			</div>
		  </a>
		</div>
		<button class="carousel-button right" (click)="scrollCarousel('movie', 'right')">➡️</button>
	  </div>
	</section>
  
	<section class="mb-[5vh]">
	  <h2 class="text-section font-bold mb-[2vh] text-blue-400">📺 Trending TV Shows</h2>
	  <div class="relative">
		<button class="carousel-button left" (click)="scrollCarousel('tv', 'left')">⬅️</button>
		<div class="flex overflow-hidden space-x-[2vw] carousel-container">
		  <a *ngFor="let show of popularTvShows.slice(currentIndexTv, currentIndexTv + 5)" 
			 [routerLink]="['/series', show.id]" 
			 class="card cursor-pointer">
			<img [src]="getImageUrl(show.poster_path)" alt="{{ show.name }}" class="card-img">
			<div class="card-content">
			  <h3 class="truncate text-title">{{ show.name }}</h3>
			  <p class="text-vote">Rating: {{ show.vote_average | number:'1.1-1' }}</p>
			</div>
		  </a>
		</div>
		<button class="carousel-button right" (click)="scrollCarousel('tv', 'right')">➡️</button>
	  </div>
	</section>
  
	<section class="mb-[5vh]">
	  <h2 class="text-section font-bold mb-[2vh] text-yellow-400">🎭 Trending Actors</h2>
	  <div class="relative">
		<button class="carousel-button left" (click)="scrollCarousel('people', 'left')">⬅️</button>
		<div class="flex overflow-hidden space-x-[2vw] carousel-container">
		  <a *ngFor="let person of popularPeople.slice(currentIndexPeople, currentIndexPeople + 5)" 
			 [routerLink]="['/actors', person.id]" 
			 class="card cursor-pointer">
			<img [src]="getImageUrl(person.profile_path)" alt="{{ person.name }}" class="card-img">
			<div class="card-content">
			  <h3 class="truncate text-title">{{ person.name }}</h3>
			</div>
		  </a>
		</div>
		<button class="carousel-button right" (click)="scrollCarousel('people', 'right')">➡️</button>
	  </div>
	</section>
  </div>
  