<div class="min-h-screen px-[4vw] py-[5vh] bg-gray-900 text-white">
	<h1 class="text-main font-bold mb-[3vh] text-red-500 text-center">
	  🎉 Discover Popular Content
	</h1>
  
	<app-carousel 
  title="🎬 Trending Movies" 
  [items]="popularMovies" 
  itemType="movie">
</app-carousel>

<app-carousel 
  title="📺 Trending TV Shows" 
  [items]="popularTvShows" 
  itemType="tv">
</app-carousel>

<app-carousel 
  title="🎭 Trending Actors" 
  [items]="popularPeople" 
  itemType="people">
</app-carousel>

  </div>
  