<div class="min-h-screen px-[4vw] py-[5vh] bg-gray-900 text-white">
	<div *ngIf="actor">
	  <div class="flex flex-col items-center">
		<img [src]="'https://image.tmdb.org/t/p/w500' + actor.profile_path" 
			class="w-40 h-40 sm:w-52 sm:h-52 md:w-80 md:h-80 lg:w-96 lg:h-96 rounded-full object-cover">
		<h1 class="text-main font-bold mt-4">{{ actor.name }}</h1>
		<p class="text-title text-gray-400">Born: {{ actor.birthday }} | {{ actor.place_of_birth }}</p>
		<p *ngIf="actor.deathday" class="text-title text-gray-400">Died: {{ actor.deathday }}</p>
		<a *ngIf="actor.imdb_id" [href]="'https://www.imdb.com/name/' + actor.imdb_id" target="_blank" 
			class="text-title text-blue-400 hover:underline">IMDB Profile</a>
	  </div>
	  
	  <div class="my-12">
		<h2 class="text-main font-bold mb-2">📜 Biography</h2>
		<p class="text-bio">{{ actor.biography }}</p>
	  </div>

	  <app-carousel 
		title="🎬 Filmography" 
		[items]="knownWorks" 
		itemType="movie">
	  </app-carousel>

	</div>
</div>
