<div class="min-h-screen px-[4vw] py-[5vh] bg-gray-900 text-white">
	<h1 class="text-main font-bold mb-[3vh] text-red-500 text-center">🎬 Explore Movies</h1>

	<app-carousel 
	  title="🔥 Trending Movies" 
	  [items]="popularMovies" 
	  itemType="movie">
	</app-carousel>

	<app-carousel 
	  title="📅 Coming Soon" 
	  [items]="upcomingMovies" 
	  itemType="movie">
	</app-carousel>

	<app-carousel 
	  title="🏆 Best Movies" 
	  [items]="topRatedMovies" 
	  itemType="movie">
	</app-carousel>

	<app-carousel 
	  title="🎥 Now Playing" 
	  [items]="nowPlayingMovies" 
	  itemType="movie">
	</app-carousel>
</div>
